.lungs{
    &__blocks{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    &__left{
        flex-basis: 54%;
        @media (max-width: 767px){
            flex-basis: 100%;
            margin-bottom: 80px;
            @include adaptiveValue('margin-bottom', 80, 40, 767, 1);
        }
    }
    &__right{
        flex-basis: 40%;
        @media (max-width: 767px){
            flex-basis: 100%;
        }
    }
    &__link:first-child{
        margin-bottom: 30px;
    }
    &__subtitle{
        margin-bottom: 30px;
        @media(max-width: 767px){
            text-align: center;
        }
    }
}

