<section class="intro">
        <div class="intro__blocks">
            <div class="intro__bg">
                <img src="../img/intro/main-plant.png" alt="">
            </div>
            <div class="intro__content">
                <h1 class="intro__title">
                    <span class="intro__title_large">Plant a tree today<br></span>
                    it will help us breathe<br>tomorrow.</h1>
                <p class="intro__subtitle subtitle-item">
                    We know how important trees are to our existence and for the well-being of the planet at large, which is why we have put together a number</p>
                <div class="order order__intro">
                        <button class="order__btn">
                            Order Now
                        </button>
                </div>
                <div class="intro__count count">
                    <div class="count__collection">
                        <div class="count__num">355</div>
                        <div class="count__info">Awesome collection</div>
                    </div>
                    <div class="count__sell">
                        <div class="count__num">100</div>
                        <div class="count__info">Sell everyday</div>
                    </div>
                </div>
            </div>
        </div>
</section>