<section class="lungs">
    <div class="lungs__container">
        <div class="lungs__blocks">
            <div class="lungs__left block-item">
                <h2 class="lungs__title title-item">Plant are the <br> lungs of the world</h2>
                    <a href="#" class="lungs__link link-item">
                       <img src="../img/lungs/plant-left.png" alt="">
                    </a>
            </div>
            <div class="lungs__right block-item">
                <a href="#" class="lungs__link link-item">
                 <img src="../img/lungs/plant-right.png" alt="">
                </a>
                <div class="lungs__subtitle subtitle-item">That were not animals, and included algae and
                    however, all current definitions </div>
                <div class="order">
                    <button class="order__btn">
                        Order Now
                    </button>
            </div>
            </div>
        </div>
    </div>
</section>