<section class="organisms">
        <div class="organisms__container">
            <div class="organisms__blocks">
                <div class="organisms__left block-item">
                    <a href="#" class="organisms__link link-item">
                        <img src="../img/organisms/plant_left.png" alt="">
                    </a>
                    <ul class="organisms__list">
                        <li class="organisms__item"><span class="organisms__text">Ost plants are multicellular organisms. Green plants obtain most of their energy </span></li>
                        <li class="organisms__item"><span class="organisms__text">Sunlight takes about 8.3 minutes to reach Earth from the surface of the Sun</span></li>
                        <li class="organisms__item"><span class="organisms__text">Researchers can measure the intensity of sunlight using a sunshine recorder</span></li>
                        <li class="organisms__item"><span class="organisms__text">That were not animals, and included algae and fungi however</span> </li>
                    </ul>
                </div>
                <div class="organisms__right block-item">
                    <h2 class="organisms__title title-item">A great <br>initiative indeed</h2>
                        <a href="#" class="organisms__link link-item">
                            <img src="../img/organisms/plant_right.png" alt="">
                        </a>
                </div>
            </div>
        </div>
</section>