<section class="products">
    <div class="products__container">
        <div class="products__blocks">
            <div class="products__list">
                <a href="#" class="products__card card">
                    <img src="@img/products/fringilla.png" alt="">
                    <div class="card__info">
                        <h3 class="card__title">Fringilla Augue</h3>
                        <p class="card__subtitle">that were not animals, and included algae and however</p>
                        <div class="card__price">35.00</div>
                    </div>
                </a>
                <a href="#" class="products__card card">
                    <img src="@img/products/faded.png" alt="">
                    <div class="card__info">
                        <h3 class="card__title">Faded Short</h3>
                        <p class="card__subtitle">that were not animals, and included algae and however</p>
                        <div class="card__price">97.00</div>
                    </div>
                </a>
                <p class="products__subtitle subtitle-item">that were not animals, and included algae and fungi however, all current definitions </p>
            </div>
            <div class="products__greatest">
                <h2 class="products__title title-item">Get our<br> greatest plants</h2>
             <a href="#" class="products__card card">
                <img src="@img/products/eled.png" alt="">
                <div class="card__info">
                    <h3 class="card__title">Eled Doming</h3>
                    <p class="card__subtitle">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
                    <div class="card__price">50.00</div>
                </div>
              </a>
                 <div class="order">
                <button class="order__btn">
                    Order Now
                </button>
                 </div>
            </div>
        </div>
    </div>
</section>