<section class="video">
    <div class="video__container">
        <div class="video__blocks">
            <div class="video__left block-item">
                <h2 class="video__title title-item">See our <br> latest video</h2>
                <a href="#" class="video__link link-item">
                    <img class="not-hover" src="../img/video-page/video_left.png" alt="">
                </a>
            </div>
            <div class="video__right block-item">
                <a href="#" class="video__link link-item ">
                    <img class="not-hover" src="../img/video-page/video_right.png" alt="">
                </a>
                <p class="video__subtitle subtitle-item">lants are predominantly photosynthetic eukaryotes of the kingdom Plantae. Historically, the plant kingdom massed all living things</p>
            </div>
        </div>
    </div>
</section>